<%= simple_form_for(@note) do |f| %>
  <%= f.error_notification %>
  <div class="form-inputs">
    <%= f.association :challenge, collection: current_user.challenges, prompt: "Chose a challenge" %>
    <%= f.label :body %>
    <%= f.text_area :body, class: 'wysihtml5', style: "width: 99%; height: 200px;" %>
    <%= button_tag(type: 'submit', class: 'btn btn-large btn-link') do %>
    <i class="icon-ok"></i> Save
    <% end %>
  </div>
<% end %>

<script type="text/javascript">
  $('.wysihtml5').each(function(i, elem) {
    $(elem).wysihtml5({"image": false, "color": true});
  });
</script>
