<div class="span12">
<h3 class="muted bordered">Editing account</h3>
<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, :class => 'form-vertical' }) do |f| %>
  <%= f.error_notification %>
  <%= display_base_errors resource %>
  <%= f.input :name, :autofocus => true %>
  <%= f.input :email, :required => true %>
  <%= f.input :password, :autocomplete => "off", :hint => "Leave it blank if you don't want to change it", :required => false %>
  <%= f.input :password_confirmation, :required => false %>
  <%= f.input :current_password, :hint => "We need your current password to confirm your changes", :required => true %>
  <%= button_tag(type: 'submit', class: 'btn btn-large btn-link') do %>
    <i class="icon-ok"></i> Update account
    <% end %>
<% end %>
<%= link_to('<i class="icon-hand-left"></i> Back'.html_safe, :back) %>
<br/><br/>
<p>Unhappy? You can cancel your account <%= link_to "here", registration_path(resource_name), :data => { :confirm => "Are you sure? Your account and all your challenges will be permanently deleted!" }, :method => :delete %>.</p>
</div>
