<% if user_signed_in? %>
<div class="span8">  
  <span><%= link_to "New Challenge", new_challenge_path, class: "btn btn-info pull-right" %></span>
  <div>
	<h3 class="muted bordered">Active Challenges</h3>
	</div>
	<% if @challenges.any? %>
		<ol class="challenges">
			<%= render partial: 'challenges/single_challenge', collection: @challenges %>

		</ol>
		<div class="pagination-centered">
		<%= will_paginate @challenges %>
		</div>
	
	<% end %>
</div>
<aside class="span4"><h3 class="muted bordered">Stats</h3><br/>
	<span class="label label-info"><%= Challenge.active_count %> Active</span>
  <span class="label label-success"><%= Challenge.done_count %> Done</span>
  <span class="label label-important"><%= Challenge.failed_count %> Failed</span>
</aside>
<% else %>
	<div class="span12">
	<div class="center hero-unit">
		<h1 class="text-center">Welcome to the Thirty</h1>
		<h3 class="text-center muted">
		Track and annotate your personal time limited challenges.
		</h3>
		<%= link_to "Sign up now!", new_user_registration_path, class: "btn btn-large btn-primary" %>
	</div>
	</div>
<% end %>

