<% if user_signed_in? %>
	<div class="well">
		<div class="span4">
    <span class="label label-info"><%= Challenge.active_count %> Active</span>
    <span class="label label-success"><%= Challenge.done_count %> Done</span>
    <span class="label label-important"><%= Challenge.failed_count %> Failed</span>
    </div>
    </div>
  <span><%= link_to "New Challenge", new_challenge_path, class: "btn btn-primary pull-right" %></span>
  <div>
	<h3>Active Challenges</h3>
	</div>
	<% if @challenges.any? %>
		<ol class="challenges">
			<%= render partial: 'challenges/single_challenge', collection: @challenges %>
		</ol>
	
	<% end %>
<% else %>
	<div class="center hero-unit">
		<h1 class="text-center">Welcome to the Thirty</h1>
		<h2 class="text-center">
		Track and annotate your personal time limited challenges.
		</h2>
		<%= link_to "Sign up now!", new_user_registration_path, class: "btn btn-large btn-primary" %>
	</div>
<% end %>

