<div class="span12">
<h3 class="muted bordered">Sign in</h3>
<%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => {:class => 'form-vertical' }) do |f| %>
  <%= f.input :email, :autofocus => true %>
  <%= f.input :password %>
  <%= f.input :remember_me, :as => :boolean if devise_mapping.rememberable? %>
  <%= button_tag(type: 'submit', class: 'btn btn-large btn-link') do %>
    <i class="icon-ok"></i> Sign in
    <% end %>
<% end %>
<br/>
<%= render "devise/shared/links" %>
</div>
