<div class="well">

    <div class="span4">
    <span class="label label-info"><%= Challenge.active_count %> Active</span>
    <span class="label label-success"><%= Challenge.done_count %> Done</span>
    <span class="label label-important"><%= Challenge.failed_count %> Failed</span>
    </div>
    
</div>

<div>
    <%= link_to "New Challenge", new_challenge_path, class: "btn btn-primary pull-right" %>
</div>

<h3>All Challenges</h3>
<div>
      <%= search_form_for @q, :html => {:class => "form-inline"} do |f| %>
      <%= f.text_field :title_cont, class: "input-medium", placeholder: "Search by Title" %>
      <% options = [['--Select State--', ""], ['Active', 'active'], ['Done', 'done'], ['Failed', 'failed']] %>
      <%= f.select(:final_state_eq, options) %>
      <%= f.submit('Filter', :name => nil, :class => "btn") %>
      <% end %>
</div>

<table class="table table-hover" >
  <thead>
    <tr>
      <th><%= sort_link @q, :title, "Title" %></th>
      <th><%= sort_link @q, :created_at, "Started" %></th>
      <th><%= sort_link @q, :duration, "Duration" %></th>
      <th><%= sort_link @q, :final_state, "State" %></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @challenges.each do |challenge| %>
    <tr>
        <td><%= link_to challenge.title, challenge %></td>
        <td><%= challenge.created_at.to_date %></td>
        <td><%= challenge.duration %></td>
        <td><%= challenge.final_state.capitalize %></td>
        <td><%= link_to(edit_challenge_path(challenge)) do %>
          <i class='icon-pencil'></i>
          <% end %>
        </td>
        <td><%= link_to(challenge, method: :delete, data: { confirm: 'Are you sure?' }) do %>
          <i class='icon-trash'></i>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<div class="pagination-centered">
<%= will_paginate %>
</div>



