<div class="span8">

<div>
    <%= link_to "New Challenge", new_challenge_path, class: "btn btn-info pull-right" %>
</div>

<h3 class="muted bordered">All Challenges</h3>

<table class="table table-hover" >
  <thead>
    <tr>
      <th><%= sort_link @q, :title, "Title" %></th>
      <th><%= sort_link @q, :created_at, "Started" %></th>
      <th><%= sort_link @q, :final_state, "State" %></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @challenges.each do |challenge| %>
    <tr>
        <% desc = raw(challenge.description) %>
        <td><span class="badge badge"><%= challenge.duration %></span><%= link_to challenge.title, challenge, :data => {:toggle => "popover", :placement => "right", :content => "#{desc}", :html => "true", 'title data-original-title' => "Description"} %></td>
        <td><%= challenge.created_at.to_date %></td>
        <% if challenge.final_state == 'active' %>
        <td><span class="label label-info"><%= challenge.final_state.capitalize %></span></td>
        <% elsif challenge.final_state == 'done' %>
        <td><span class="label label-success"><%= challenge.final_state.capitalize %></span></td>
        <% else %>
        <td><span class="label label-important"><%= challenge.final_state.capitalize %></span></td>
        <% end %>
        <td><%= link_to(edit_challenge_path(challenge)) do %>
          <i class='icon-pencil' data-toggle="tooltip" title data-original-title="Edit challenge"></i>
          <% end %>
        </td>
        <td><%= link_to(challenge, method: :delete, data: { confirm: 'Are you sure?' }) do %>
          <i class='icon-trash' data-toggle="tooltip" title data-original-title="Delete challenge"></i>
          <% end %>
        </td>
        <% if challenge.final_state == 'active' %>
        <td><%= link_to(done_challenge_path(challenge)) do %>
          <i class='icon-thumbs-up' data-toggle="tooltip" title data-original-title="Mark as done"></i>
          <% end %>
        </td>
        <td><%= link_to(give_up_challenge_path(challenge)) do %>
          <i class='icon-thumbs-down' data-toggle="tooltip" title data-original-title="Mark as failed"></i>
          <% end %>
        </td>
        <% else %>
        <td><%= link_to(reactivate_challenge_path(challenge)) do %>
          <i class='icon-refresh' data-toggle="tooltip" title data-original-title="Make it active again"></i>
          <% end %>
        </td>
        <td><%= link_to(repeat_challenge_path(challenge)) do %>
          <i class='icon-repeat' data-toggle="tooltip" title data-original-title="Clone and start again"></i>
          <% end %>
        </td>
        <% end %>

      </tr>
    <% end %>
  </tbody>
</table>
<div class="pagination-centered">
<%= will_paginate %>
</div>
</div>
<aside class="span4"><h3 class="muted bordered">Stats</h3><br/>
  <span class="label label-info"><%= Challenge.active_count %> Active</span>
  <span class="label label-success"><%= Challenge.done_count %> Done</span>
  <span class="label label-important"><%= Challenge.failed_count %> Failed</span>
  <br/>
  <h3 class="muted bordered"></h3><br/>
  <%= search_form_for @q, :html => {:class => "form-inline"} do |f| %>
    <span class="pull-left">
    <%= f.text_field :title_cont, class: "input-medium", placeholder: "Search by Title" %>
    </span>
    <% options = [['Active', 'active'], ['Done', 'done'], ['Failed', 'failed']] %>
    <span>
    <%= f.select(:final_state_in, options, {}, {:class => "selectpicker", :multiple => true}) %>
    </span>
    <script type="text/javascript">
      $('.selectpicker').selectpicker({
        width: '172px',
        title: 'Filter by State',
        style: 'btn btn-link'
      });
    </script>
    <span>
    <%= f.button( :class => "btn btn-info pull-right") do %>
      <i class="icon-search icon-white"></i>
    <% end %>
    </span>
    
    <% end %>
</aside>

<script type="text/javascript">
  $('i').tooltip()
</script>
<script type="text/javascript">
  $('a').popover({
    trigger: 'hover'
  })
</script>









