<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Thirty" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Thirty" %>">
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%# application layout styled for Twitter Bootstrap 2.3 %>
    <header>
    <div class="container">
      <%= render 'layouts/navigation' %>
    </div>
    
    </header>
    <main role="main">
      <div class="container">
        <div class="span8 offset2">
        <div class="content">
            <div class="row">
              <%= render 'layouts/messages' %>
              <%= yield %>
            </div>
            <footer>
            </footer>
        </div>
        </div>
      </div>
    </main>
  </body>
</html>
